@page "/create-company-customer"
@using _2nd.Semester.Eksamen.Application.DTO
@using _2nd.Semester.Eksamen.Application.ApplicationInterfaces
@using _2nd.Semester.Eksamen.Domain.Entities.Persons
@inject ICompanyCustomerService createCustomerService
@inject NavigationManager Navi
@rendermode InteractiveServer
<body>
<h1>Opret firmakunde</h1>
	<EditForm Model="@companyCustomerDTO" OnValidSubmit="@HandleValidSubmit" class="col-10 p-0" FormName="CreateCompanyCustomerForm">
		<DataAnnotationsValidator />
		<ValidationSummary />
	<div class="whole-form">
	
	<div class="form-group">
		<label for="Name" class="form-labels">Navn:</label>
		<InputText id="Name" @bind-Value="companyCustomerDTO.Name" class="form-control" placeholder="Firmanavn..." />
	</div>
	
	<div class="form-group">
			<label for="City" class="form-labels">By:</label>
		<InputText id="City" @bind-Value="companyCustomerDTO.City" class="form-control" placeholder="By..."/>
	</div>

	<div class="form-group">
			<label for="Form-group" class="form-labels">Postnummer:</label>
		<InputText id="PostalCode" @bind-Value="companyCustomerDTO.PostalCode" class="form-control" placeholder="Postnummer..." />
	</div>
	
	<div class="form-group">
			<label for="StreetName" class="form-labels">Vej:</label>
		<InputText id="StreetName" @bind-Value="companyCustomerDTO.StreetName" class="form-control" placeholder="Vejnavn..."/>
	</div>

	<div class="form-group">
			<label for="HouseNumber" class="form-labels">Husnr:</label>
		<InputText id="HouseNumber" @bind-Value="companyCustomerDTO.HouseNumber" class="form-control" placeholder="Husnr..." />
	</div>

	<div class="form-group">
			<label for="PhoneNumber" class="form-labels">Telefonnummer:</label>
		<InputText id="PhoneNumber" @bind-Value="companyCustomerDTO.PhoneNumber" class="form-control" placeholder="Tlfnummer..."/>
	</div>

	<div class="form-group">
			<label for="Email" class="form-labels">Email:</label>
		<InputText id="Email" @bind-Value="companyCustomerDTO.Email" class="form-control" placeholder="Email" />
	</div>

	<div class="form-group">
			<label for="CVR-Nummer" class="form-labels">CVR-nummer:</label>
		<InputText id="CVR-Nummer" @bind-Value="companyCustomerDTO.CVRNumber" class="form-control" placeholder="CVR-nummer..." />
	</div>

	<div class=" = form-group">
		<label for="form-check.label" class="form-labels">Gem kundeoplysninger</label>
		<InputCheckbox id="SaveAsCustomer" @bind-Value="companyCustomerDTO.SaveAsCustomer" class="form-check-input"/>
	</div>

	<div class="form-btn">
		<button type="submit" class="btn btn-primary">Opret firmakunde</button>
	</div>

	</div>
</EditForm>
</body/>



@code {
	

	
}
