.page-header {
    width: 100%;
    height: 40px;
    background-color: #034265;
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: white;
    font-weight: bold;
}
