.form-labels {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    font-size: 1.1rem;
}


.form-control {
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
}
