.page-header {
    width: 100%;
    height: 40px;
    background-color: #b55054;
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: white;
    font-weight: bold;
}


.customer-type-btn-clicked {
    width: 50%;
    color: white;
    padding: 8px;
    height: 100%;
    background-color: transparent;
    border: none;
    border-color: transparent;
    box-shadow: inset 3px 3px 3px 3px rgba(0,0,0,0.3);
}
.customer-type-btn {
    width: 50%;
    color: white;
    padding: 8px;
    height: 100%;
    box-shadow: 2 2px 2px rgba(0,0,0,0.3);
    background-color: transparent;
    border: none;
    border-color: transparent;
}

    .customer-type-btn:hover {
        color: darkgrey;
        box-shadow: inset 0 10px 10px rgba(0,0,0,0.3);
    }

