.page-header {
    width: 100%;
    height: 40px;
    background-color: #034265; /* same color as your top border */
    border-radius: 12px 12px 12px 12px; /* rounded top corners */
    box-shadow: 0 6px 6px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: white;
    font-weight: bold;
    margin: 0;
    box-sizing: border-box;
}
.add-treatment {
    background: transparent;
    border: none;
    font-size: 100px;
    cursor: pointer;
    color: #b55054;
}