@page "/employees"
@namespace _2nd.Semester.Eksamen.WebUi.Components.Pages
@rendermode InteractiveServer

<div class="employee-nav">
    <!-- Header with search and add button -->
    <div class="employee-nav-header">
        <h3 class="title">Medarbejdere</h3>
        <div class="input-group">
            <input type="text" placeholder="Søg Navn..." @bind="SearchTermName" @bind:event="oninput" />
        </div>
        <div class="input-group">
            <input type="text" placeholder="Søg Tlf. Nummer..." @bind="SearchTermPhone" @bind:event="oninput" />
        </div>
        <button class="add-employee-btn" @onclick="GoToAddEmployee">
            <i class="bi bi-plus-lg"></i> Tilføj Medarbejder
        </button>
    </div>
</div>

@if (LoadFailed)
{
    <div class="alert alert-danger">
        Kunne ikke forbinde til databasen. Prøv igen senere
    </div>
}
else if (Employees == null)
{
    <div>Loader...</div>
}
else
{
    <div class="grid">
        @foreach (var emp in Employees)
        {
            <div class="grid">
                <div class="card employee-card-clickable" @onclick="() => GoToEmployee(emp.Id)">
                    <div class="color-box" style="background:@emp.Color"></div>

                    <div class="info">
                        <h4>@emp.Name</h4>
                        <p>@emp.Type</p>
                    </div
                    <div>
                        <p>Visning af opkommende behandlinger</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

