.fontpage-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.overview-page {
    padding-left: 10rem;
    padding-right: 10rem;
}

.overview-page-content {
    padding: 1rem;
    border-radius: 12px;
}

.dTO-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #034265;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 12px 12px 0 0;
}

    .page-header h1 {
        margin: 0;
        color: white;
    }

.subtitle {
    color: lightgray;
}

.grid {
    display: grid;
    gap: 1rem;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.stat-card {
    background: white;
    border-radius: 12px;
    padding: 1.25rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

    .stat-card span {
        font-size: 1.8rem;
        font-weight: bold;
    }

.card-btn {
    width: 50%;
    background-color: #034265;
    border: none;
    color: white;
    transition: 0.2s ease;
}

    .card-btn:hover {
        transform: scale(1.03);
    }
