@namespace Components.Pages
@rendermode InteractiveServer
@page "/"

<div><button @onclick="InjectData"></button></div>
<div><button @onclick="getalldata"></button></div>
@foreach (var treatment in treatments)
{
    @treatment.Price;
}
