.card-btn {
    width: 50%;
    background-color: #034265;
    border: none;
    color: white;
    transition: 0.2s ease;
}

    .card-btn:hover {
        transform: scale(1.03);
    }
.form-control {
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
}