@inherits LayoutComponentBase
@using global::Components.Shared;

@namespace _2nd.Semester.Eksamen.WebUi.Components.Layout
<div class="page">
    <main>
        <!--Navbar. Light theme. Sticks to the top of the screen.------------------------>
        <nav class="navbar navbar-expand-sm navbar-light bg-white sticky-top">
            <div class="container-fluid">
                <NavMenu items="DropdownItems"></NavMenu>
                <NotificationBell></NotificationBell>
            </div>
        </nav>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Parameter] public int Notifications { get; set; } = 0;
    private List<DropdownItem> DropdownItems { get; set; } = new List<DropdownItem>()
    {
    new DropdownItem("Marketing","/services/marketing"),
    new DropdownItem("Development","/services/development"),
    new DropdownItem("Design","/services/design")
    };
}