.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F3F2F2;
}

main {
    flex: 1;
}

.navbar {
    border-bottom: solid 1px;
    border-color: #b55054;
}
