@inherits LayoutComponentBase
@using global::Components.Shared;
@using _2nd.Semester.Eksamen.WebUi.Components.Shared

@namespace _2nd.Semester.Eksamen.WebUi.Components.Layout
<div class="page">
    <main>
        <!--Navbar. Light theme. Sticks to the top of the screen.------------------------>
        <nav class="navbar navbar-expand-sm navbar-light bg-white sticky-top">
            <div class="container-fluid">
                <NavMenu items="DropdownItems"></NavMenu>
                <NotificationBell></NotificationBell>
            </div>
        </nav>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Parameter] public int Notifications { get; set; } = 0;
    public List<DropdownItem> DropdownItems { get; set; } = new List<DropdownItem>()
    {
    new DropdownItem("Ny Product","CreateProduct"),
    new DropdownItem("Ny Behandling","CreateTreatment"),
    new DropdownItem("Ny Medarbejder","CreateEmployee"),
    new DropdownItem("Ny Kunde","CreateCustomer"),
    new DropdownItem("Nyt Tilbud","CreateDiscount")
    };
}

