@using _2nd.Semester.Eksamen.WebUi.Components.Shared;
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.ProductPages.BookingPages
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.ProductPages
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.ProductPages.TreatmentPages
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.PersonPages.EmployeePages
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.PersonPages.CustomerPages.CreateCustomer
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.PaymentPages.DiscountCreationPages
@rendermode InteractiveServer
@namespace _2nd.Semester.Eksamen.WebUi.Components.Layout
<!--Navbar-->
<nav class="topnav">
    <!---------------Navbar items contains--------------------------------------------------->
    <div class="navbar-nav">
        <!----------------------Logo container--------------------------------->
        <div>
            <!--Logo anchore container (to attach a link)-->
            <a href="/" class="navbar-brand">
                <!--Logo image-->
                <img src="Logo.png" style="height:40px;" />
            </a>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EmployeeSchedule">
                <span aria-hidden="true">Medarbejder Skema</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => CreateBookingIsVisible = true" style="cursor:pointer;">
                <span aria-hidden="true">Lav Booking</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BookingOverview">
                <span>Booking Oversigt</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                <span aria-hidden="true">Medarbejderoversigt</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CustomerOverview">
                <span aria-hidden="true">Kundeoversigt</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="InvoiceOverview">
                <span aria-hidden="true">Fakturaoversigt</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TreatmentOverview">
                <span aria-hidden="true">Behandlingsoversigt</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ProductOverviewPage">
                <span aria-hidden="true">Produkt Oversigt</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DiscountOverviewPage">
                <span aria-hidden="true">Rabat Oversigt</span>
            </NavLink>
        </div>


        <!--Dropdown for more options-->
        <div class="nav-item px-3 dropdown" style="position:relative; cursor:pointer;" @onmouseleave="() => Open = false">

            <!-- Toggle -->
            <NavLink 
                    class="nav-link navbar-toggler-icon"
                    style="font-size:1.5rem;"
                    @onclick="ToggleDropdown">
            </NavLink>

            @if (Open)
            {
                <ul class="dropdown-menu show"
                    style="display:block; position:absolute; top:100%; left:0; width:max-content;">
                    <li @onclick:stopPropagation>

                        <div class="nav-item px-3">
                            <NavLink class="nav-link" @onclick="() => CreateProductIsVisible = true" style="cursor:pointer;">
                                <span aria-hidden="true">Nyt Produkt</span>
                            </NavLink>
                        </div>
                    </li>
                    <li @onclick:stopPropagation>

                        <div class="nav-item px-3">
                            <NavLink class="nav-link" @onclick="() => CreateTreatmentIsVisible = true" style="cursor:pointer;">
                                <span aria-hidden="true">Ny Behandling</span>
                            </NavLink>
                        </div>
                    </li>
                    <li @onclick:stopPropagation>

                        <div class="nav-item px-3">
                            <NavLink class="nav-link" @onclick="() => CreateEmployeeIsVisible = true" style="cursor:pointer;">
                                <span aria-hidden="true">Ny Medarbejder</span>
                            </NavLink>
                        </div>
                    </li>
                    <li @onclick:stopPropagation>

                        <div class="nav-item px-3">
                            <NavLink class="nav-link" @onclick="() => CreateCustomerIsVisible = true" style="cursor:pointer;">
                                <span aria-hidden="true">Ny Kunde</span>
                            </NavLink>
                        </div>
                    </li>
                    <li @onclick:stopPropagation>

                        <div class="nav-item px-3">
                            <NavLink class="nav-link" @onclick="() => CreateDiscountIsVisible = true" style="cursor:pointer;">
                                <span aria-hidden="true">Nyt Tilbud</span>
                            </NavLink>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>
@if (CreateDiscountIsVisible)
{
    <CreateWindow IsVisible=CreateDiscountIsVisible IsVisibleChanged="v => CreateDiscountIsVisible = v" StyleParameters="background-color: #F3F2F2; padding:0;width:auto;">
        <CreateDiscount OnClose="() => CreateDiscountIsVisible = false"></CreateDiscount>
    </CreateWindow>
}
@if (CreateCustomerIsVisible)
{
    <CreateWindow IsVisible=CreateCustomerIsVisible IsVisibleChanged="v => CreateCustomerIsVisible = v" StyleParameters="background-color: #F3F2F2; padding:0;width:auto;">
        <CreateCustomer IsBooking=false OnClose="() => CreateCustomerIsVisible = false"></CreateCustomer>
    </CreateWindow>
}
@if (CreateEmployeeIsVisible)
{
    <CreateWindow IsVisible=CreateEmployeeIsVisible IsVisibleChanged="v => CreateEmployeeIsVisible = v" StyleParameters="background-color: #F3F2F2; padding:0;width:auto;">
        <CreateEmployee OnClose="() => CreateEmployeeIsVisible = false"></CreateEmployee>
    </CreateWindow>
}
@if (CreateTreatmentIsVisible)
{
    <CreateWindow IsVisible=CreateTreatmentIsVisible IsVisibleChanged="v => CreateTreatmentIsVisible = v" StyleParameters="background-color: #F3F2F2; padding:0;width:auto;">
        <CreateTreatment OnClose="() => CreateTreatmentIsVisible = false"></CreateTreatment>
    </CreateWindow>
}
@if (CreateProductIsVisible)
{
    <CreateWindow IsVisible=CreateProductIsVisible IsVisibleChanged="v => CreateProductIsVisible = v" StyleParameters="background-color: #F3F2F2; padding:0;width:auto;">
        <CreateProduct OnClose="() => CreateBookingIsVisible = false"></CreateProduct>
    </CreateWindow>
}
@if (CreateBookingIsVisible)
{
    <CreateWindow IsVisible=CreateBookingIsVisible IsVisibleChanged="v => CreateBookingIsVisible = v" StyleParameters="background-color: #F3F2F2; padding:0;width:auto;">
        <CreateBooking OnClose="() => CreateBookingIsVisible = false"></CreateBooking>
    </CreateWindow>
}