@using _2nd.Semester.Eksamen.WebUi.Components.Shared;
@rendermode InteractiveServer
@namespace _2nd.Semester.Eksamen.WebUi.Components.Layout
<!--Navbar-->
<nav class="topnav">
    <!---------------Navbar items contains--------------------------------------------------->
    <div class="navbar-nav">
        <!----------------------Logo container--------------------------------->
        <div>
            <!--Logo anchore container (to attach a link)-->
            <a href="/" class="navbar-brand">
                <!--Logo image-->
                <img src="Logo.png" style="height:40px;" />
            </a>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EmployeeSchedule">
                <span  aria-hidden="true">Medarbejder Skema</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createbooking">
                <span aria-hidden="true">Lav Booking</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BookingOverview">
                <span>Booking Oversigt</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                <span  aria-hidden="true">Medarbejderoversigt</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CustomerOverview">
                <span  aria-hidden="true">Kundeoversigt</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="InvoiceOverview">
                <span aria-hidden="true">Fakturaoversigt</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TreatmentOverview">
                <span aria-hidden="true">Behandlingsoversigt</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-product">
                <span  aria-hidden="true">Lav Nyt Produkt</span>
            </NavLink>
        </div>
        
       
        <!--Dropdown for more options-->
        <div class="nav-item px-3 dropdown" style="position: relative" @onmouseleave="CloseDropdown">  <!--When mouse moves out of this container close the menu. Element is set as the relativ object (meaning other objects that are absolute do so relative to them)-->
            <!--Dropdown burger icon-->
            <NavLink class="nav-link navbar-toggler-icon" style="font-size: 1.5rem;" @onclick="ToggleDropdown" />
            <!--Drop down menu------------------------>
            @if (Open)
            {
                <!--Container for the menu items------------------------>
                <ul class="dropdown-menu show" style="display:block; position:absolute; top:100%; left:0;">
                    @foreach (var item in items)
                    {
                        <li>
                            <!--Each item. If an item is clicked on it redirects to the given link and closes the menu------->
                            <NavLink class="dropdown-item" href="@item.Link" @onclick="CloseDropdown">
                                @item.Text
                            </NavLink>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</nav>