
.navbar-brand img { /*Logo image*/
    height: auto; /*Automatically set hight and width based on space (i think)*/
    width: auto;
}

.navbar.nav { /*Container of the other nav elements besides logo*/
    display: flex; /*Makes the container flexible*/
    justify-content: space-between; /*Evenly spaces out the elements*/
}

nav { /*The navbar container of all the nav elements*/
    background-color: white;
}

.nav-item { /*each item bisides the logo*/
    border-right: 1px solid #ccc; /*Puts a separator on the right side of each item*/
}

    .nav-item ::deep a { /*each nav items settings for all <a> elements within the nav-item class*/
        color: #b55054;
        display: flex;
        align-items: center;
    }

        .nav-item ::deep a.active { /*When an <a> element is activated/clicked*/
            background-color: #F3F2F2; /*Color when navitem button is activated/pressed */
        }

        .nav-item ::deep a:hover { /*When an <a> elemnt is hoverd over*/
            background-color: #F3F2F2; /*change the color*/
        }

.dropdown-menu { /*Overides the dropdown menus settings*/
    border-radius: 0px;
    padding: 0px;
}


.nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}