


.navbar-brand img { /*Logo image*/
    height: auto; /*Automatically set hight and width based on space (i think)*/
    width: auto;
}



.topnav {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.navbar.nav { /*Container of the other nav elements besides logo*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between; /*Evenly spaces out the elements*/
}

nav { /*The navbar container of all the nav elements*/
    background-color: white;
}

.nav-item { /*each item bisides the logo*/
    border-right: 1px solid #ccc; /*Puts a separator on the right side of each item*/
    display: flex;
    align-items: flex-end;
}

    .nav-item ::deep a { /*each nav items settings for all <a> elements within the nav-item class*/
        color: #b55054;
        display: flex;
        align-items: flex-end;
        font-size: 1rem;
    }

        .nav-item ::deep a.active { /*When an <a> element is activated/clicked*/
            background-color: #F3F2F2; /*Color when navitem button is activated/pressed */
        }

        .nav-item ::deep a:hover { /*When an <a> elemnt is hoverd over*/
            background-color: #F3F2F2; /*change the color*/
        }

.topnav .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.topnav .nav-item {
    flex: 0 1 auto;
    align-content: end
}

.topnav .nav-link {
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
}

.dropdown-menu { /*Overides the dropdown menus settings*/
    border-radius: 0px;
    padding: 0px;
    display: flex;
    align-items: flex-end;
}



.navbar-toggler:checked ~ .nav-scrollable {
    display: flex;
    align-items: flex-end;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
