.booking-status {
    background-color: #b55054;
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
}

.details-btn {
    background-color: transparent;
    color: black;
}

    .details-btn:hover {
        background-color: aliceblue;
    }
