@namespace _2nd.Semester.Eksamen.WebUi.Components.Shared
<div class="floating-page">
    <div class="@GetContentClass()">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool PageContentScrollable { get; set; } = true;
    private string GetContentClass()
    {
        if (PageContentScrollable) return "floating-page-content-scrollable";
        return "floating-page-content";
    }
}