.floating-page {
    width: 100%;
    max-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
}

.page-header {
    width: 100%;
    height: 40px;
    background-color: #b55054;
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: bold;
}

.floating-page-content-scrollable {
    background-color: #F3F2F2;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    max-height: 100vh;
    overflow-y: auto;
    transform: scale(0.8);
    animation: popIn 0.3s forwards;
}

.floating-page-content {
    background-color: #F3F2F2;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    transform: scale(0.8);
    animation: popIn 0.3s forwards;
    
}

@keyframes popIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
