@rendermode InteractiveServer
<button class="btn btn-link position-relative" @onclick="BellClick">
    <i class="bi bi-bell-fill" style="font-size: 1.5rem;"></i>
    <!-- Badge -->
    <span class="position-absolute top-10 start-100 translate-middle-x badge rounded-pill bg-danger">
        @Notifications
        <span class="visually-hidden">unread notifications</span>
    </span>
</button>

@code {
    public void BellClick() => Notifications = 0;
    [Parameter] public int Notifications { get; set; } = 0;
}
