@using _2nd.Semester.Eksamen.Application.DTO;
@using System.Globalization;
<div class="available-time @(IsSelected? "highlight" : "")" @onclick="() => Select()">
    <div class="available-time-header)">
        <span><b>@availableTime.Start.ToString("ddd, MMM dd", Culture)</b></span>
    </div>
    <div class="time-date">
        <b><p>@(availableTime.Start.ToString("HH:mm")) - @availableTime.End.ToString("HH:mm")</p></b>
    </div>
</div>
@code {
    [Parameter, EditorRequired]
    public BookingDTO availableTime { get; set; } = null!;
    [Parameter] public EventCallback<BookingDTO> OnSelect { get; set; }
    private bool IsSelected { get; set; } = false;
    private async Task Select()
    {
        IsSelected = !IsSelected;
        await OnSelect.InvokeAsync(availableTime);
    }
    private CultureInfo Culture = new("da-DK");
}
