

body {
}

.Treatment {
    border-radius: 12px;
    margin-left: 0px;
    padding: 0px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

.treatment-header {
    width: 100%;
    height: 40px;
    background-color: #b55054;
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.close-btn {
    background: transparent;
    border: none;
    font-size: 20px;
    color: white;
}

    .close-btn:hover {
        color: #333;
    }

.updown-btn {
    background: transparent;
    border: none;
    font-size: 20px;
}

    .updown-btn:hover {
        color: white;
    }


.Treatment-form {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}

    .Treatment-form label {
        text-align: left;
    }

.treatment-summary {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    border-top: solid 1px;
    margin-right: 18%;
    margin-left: 18%;
    margin-top: 6px;
    flex: auto;
}