@page "/create-discount"
@inject NavigationManager Navi
@rendermode InteractiveServer
@using Components.Shared
@namespace _2nd.Semester.Eksamen.WebUi.Components.Pages.PaymentPages
@using _2nd.Semester.Eksamen.Domain.Entities.Discounts
@using _2nd.Semester.Eksamen.Application.Services
@using _2nd.Semester.Eksamen.Application.ApplicationInterfaces
@using _2nd.Semester.Eksamen.Application.DTO.ProductDTO
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.ProductPages.BookingPages
@inject IDiscountApplicationService _discountService

@if (!string.IsNullOrEmpty(_errorMessage))
{
	<div class="alert alert-danger">
		@_errorMessage
	</div>
}
<div style="width:100%; display:flex;flex-direction:column; align-items:center; margin-top:15vh; height:100vh;">
	<div style="width:28%; display:flex;flex-direction:column;">
		<_2nd.Semester.Eksamen.WebUi.Components.Shared.FloatingPage PageContentScrollable="false">
			<div class="page-header" style="padding: 0; align-content:center;">
				<div class="btn-group" style="width:100%;">
					<button type="button" class="@GetCampaignButtonClass()" @onclick="DiscountTypeButtonClicked" style="border-radius: 12px 0 0 0;"><b>Kampagne Rabat</b></button>
					<button type="button" class="@GetLoyaltyButtonClass()" @onclick="DiscountTypeButtonClicked" style="border-radius: 0 12px 0 0;"><b>Loyalitets Rabat</b></button>
				</div>
			</div>
			<div style="padding: 30px; display: flex;">
				<div style="padding: 30px; display: flex;">
					@if (IsCampaign)
					{
						<CreateCampaignDiscount />
					}
					else if (IsLoyalty)
					{
						<CreateLoyaltyDiscount />
					}
					<div class="row mt-4">
						<div class="col-md-12 text-center">
							<button class="btn btn-outline-secondary w-75 " type="button" @onclick="() => OpenPopUp = true;" @onclick:stopPropagation="true">
								Vælg produkter...
							</button>
						</div>
					</div>
					<div class="row" style="padding-top: 20px;">
						<div class="col-md-12">
							<button type="button" class="btn btn-primary col-md-12">Opret Rabat</button>
						</div>
					</div>
				</div>
			</div>
		</_2nd.Semester.Eksamen.WebUi.Components.Shared.FloatingPage>
		<div style="margin-top: 24%;"></div>
	</div>
</div>



@if (OpenPopUp)
{
	<BookingNotification IsVisible="OpenPopUp">
		<div style="overflow-y: auto;" @onclick:stopPropagation="true">
			@foreach (var product in allProducts)
			{
				<div class="card shadow-sm">
					<label class="form-check-label">@product.Name</label>
					<input type="checkbox" @bind="product.Selected" />
				</div>
			}
		</div>
	</BookingNotification>
}
