@page "/create-campaign-discount"
@using _2nd.Semester.Eksamen.Domain.Entities.Discounts
@using _2nd.Semester.Eksamen.Application.Services
@using _2nd.Semester.Eksamen.Application.ApplicationInterfaces
@using _2nd.Semester.Eksamen.Application.DTO.ProductDTO
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.ProductPages.BookingPages
@using _2nd.Semester.Eksamen.WebUi.Components.Shared
@inject IDiscountApplicationService campaignService
@inject NavigationManager Navi
@rendermode InteractiveServer


<EditForm Model="@campaignDTO" class="row p-3" @onclick:stopPropagation="true" @onchange="OnChange">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div style="text-align:center;">
        <h1>Opret Kampagne</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="Name" class="form-labels">Navn:</label>
            <InputText id="Name" @bind-Value="campaignDTO.Name" class="form-control" placeholder="Kampagnenavn..." />
        </div>

        <div class="col-md-6">
            <label for="Description" class="form-labels">Beskrivelse:</label>
            <InputTextArea id="Description" @bind-Value="campaignDTO.Description" class="form-control" placeholder="Beskrivelse..." maxlength="500" />
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <label for="TreatmentDiscount" class="form-labels">Rabat på behandling (%):</label>
            <InputNumber id="TreatmentDiscount" @bind-Value="campaignDTO.TreatmentDiscount" class="form-control" />
        </div>

        <div class="col-md-6">
            <label for="ProductDiscount" class="form-labels">Rabat på produkter (%):</label>
            <InputNumber id="ProductDiscount" @bind-Value="campaignDTO.ProductDiscount" class="form-control" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <label for="Start" class="form-labels">Startdato:</label>
            <InputDate id="Start" @bind-Value="campaignDTO.Start" class="form-control" />
        </div>

        <div class="col-md-6">
            <label for="End" class="form-labels">Slutdato:</label>
            <InputDate id="End" @bind-Value="campaignDTO.End" class="form-control" />
        </div>
    </div>
    <div @onclick:stopPropagation="true">
        <div class="row mt-3">
            <div class="col-md-6">
                <label class="form-labels">Gælder for behandlinger:</label>
                <InputCheckbox @bind-Value="campaignDTO.AppliesToTreatment" />
            </div>

            <div class="col-md-6">
                <label class="form-labels">Gælder for produkter:</label>
                <InputCheckbox @bind-Value="campaignDTO.AppliesToProduct" />
            </div>
        </div>
    </div>
</EditForm>
@code {
    [Parameter] public CampaignDiscountDTO campaignDTO = new();
    [Parameter] public EventCallback<CampaignDiscountDTO> DiscountChanged {get;set;}
    public async Task OnChange()
    {
        await DiscountChanged.InvokeAsync(campaignDTO);
    }
}