.card-btn {
    width: 50%;
    background-color: #034265;
    border: none;
    color: white;
    transition: 0.2s ease;
}

    .card-btn:hover {
        transform: scale(1.03);
    }

.btn-treatment {
    width: 100%;
    background-color: #034265;
    border: none;
    color: white;
    transition: 0.2s ease;
}

    .btn-treatment:hover {
        transform: scale(1.03);
    }

.badge-category {
    background: rgba(0, 0, 0, 0.55);
    color: white;
    padding: 0.45rem 0.7rem;
    font-size: 0.75rem;
}
