@page "/InvoiceOverview"
@using System.IO;
@inject IJSRuntime JS;
@using _2nd.Semester.Eksamen.Application.DTO;
@using _2nd.Semester.Eksamen.Application.ApplicationInterfaces;
@inject IInvoiceService invoiceService;
@rendermode InteractiveServer
<h3>InvoiceOverview</h3>

@if (orderSnapshotDTOs == null)
{
	<p>Ingen ordrer fundet.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Ordre Id</th>
                <th>Kundenavn</th>
                <th>Total</th>
                <th>Betalingsdato</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderSnapshotDTO in orderSnapshotDTOs)
            {
                <tr>
                    <td>@orderSnapshotDTO.Id</td>
                    <td>@orderSnapshotDTO.Name</td>
                    <td>@orderSnapshotDTO.TotalPaid</td>
                    <td>@orderSnapshotDTO.PaymentDate</td>
                    <td>  <button @onclick="() => MakeNewInvoice(orderSnapshotDTO.Id)"> download faktura </button> </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<OrderSnapshotDTO> orderSnapshotDTOs;
    protected override async Task OnInitializedAsync()
    {
        orderSnapshotDTOs = await invoiceService.GetAllSnapshotsAsync();
    }
    

    private async Task MakeNewInvoice(int id)
    {
        await invoiceService.GenerateInvoiceById(id);
    }
    
}
