body {
    background-color: #F3F2F2;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
}

    .form-control:focus {
        outline: none;
        border-color: #034265;
        box-shadow: 0 0 5px rgba(3,66,101,0.6);
    }

.form-label {
    display: block;
    margin-bottom: 5px;
}

.btn-primary {
    background-color: #034265;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: block;
    margin: 30px auto 0 auto;
}

    .btn-primary:hover {
        transform: scale(1.03);
        box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    }

.card-btn {
    width: 50%;
    background-color: #034265;
    border: none;
    color: white;
    transition: 0.2s ease;
}

    .card-btn:hover {
        transform: scale(1.03);
    }
