
.overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /*Makes the background greyed out*/
    display: flex;
    justify-content: center; /*Centering*/
    align-items: center; /* Centering*/
    z-index: 1000; /* Puts overlay on a higher layer than the page */
}

.overlay-content {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3); /* Creates a small shadow around the overlay box */
    
}

}







